creator-library/lib/
creator-library/res/
creator-pluginBean/bin/
creator-pluginBean/obj/
creator-pluginBucket/bin/
creator-pluginBucket/obj/
creator-pluginDiagram/bin/
creator-pluginDiagram/obj/
creator-pluginScreenplay/bin/
creator-pluginScreenplay/obj/
creator-pluginStore/bin/
creator-pluginStore/obj/
creator-pluginUnity/bin/
creator-pluginUnity/obj/
creator-app/bin/
creator-app/obj/
runpath/
player-app/unitysln/player/Library/
player-app/unitysln/player/obj/
player-app/unitysln/player/Temp/
player-app/unitysln/player/.vs/
player-app/unitysln/player/.vscode/
player-app/unitysln/player/*.sln
player-app/unitysln/player/*.csproj

*.suo
*.sdf
*.VC.db
*.VC.opendb
*.code-workspace